.list {
  margin-bottom: 30px;
  &__add-button {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    &.active {
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }
    i {
      display: inline-flex;
      margin-right: 10px;
      img {
        margin-right: 4px;
      }
    }

    .badge {
      width: 10px;
      height: 10px;
      border-radius: 30px;
      position: relative;
      left: 4px;

      &--green {
        background-color: #42b883;
      }
      &--blue {
        background-color: #64c4ed;
      }
      &--pink {
        background-color: #ffbbcc;
      }
      &--light-green {
        background-color: #b6e6bd;
      }
      &--grey {
        background-color: #c9d1d3;
      }
    }
  }
}
