* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  //height: 530px;
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 19px #dbdbdbe6;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;
  display: flex;

  &__sidebar {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 100px);
    border-right: 1px solid #f1f1f1;
  }

  &__tasks{
    flex: 1;
    padding: 56px;
    overflow: auto;
  }
  
  
}



.button {
  width: 200px;
  height: 37px;
  background: #4dd599;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: darken(#4dd599, 6%);
  }
  &:active {
    background-color: darken(#4dd599, 10%);
  }

  &:disabled {
    background-color: #b0b0b0;
  }

  &--grey{
    background-color: #F4F6F8;
    color: #444444;
    width: 95px;
    &:hover {
      background-color: darken(#F4F6F8, 3%);
    }
    &:active {
      background-color: darken(#F4F6F8, 6%);
    }
  }
}

.field {
  width: 100%;
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;

  &:focus {
    border-color: #e6e4e4;
  }
}
